* {
    font-family: 'Roboto', sans-serif;
}

.dryselect_container {
    border: solid 1px #EEE;
}

.dryselect_list_container {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
        background: #FFF;
        padding: 10px;

        &.selected {
            background: #f2f5f4;
        }

        input[type="checkbox"] {
            display: block;
            float: left;
            margin: 5px 10px 0 0;
        }

        &:hover {
            background: #fafafb;
        }
    }
}